{
  "plugins": [
    [
      "inline-import",
      {
        "extensions": [".css"]
      }
    ]
  ],
  "env": {
    "development": {
      "presets": [
        "next/babel"
      ]
    },
    "test": {
      "presets": [
        "@babel/preset-env",
        "@babel/preset-react"
      ]
    },
    "production": {
      "presets": [
        "next/babel"
      ]
    }
  }
}