{
  "root": true,
  "env":{
    "node": true,
    "browser": true,
    "es6": true,
    "jest/globals": true
  },
  "globals": {
    "google": true
  },
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "jsx-ally",
    "import",
    "jest",
    "prefer-object-spread"
  ],
  "extends": [
    "airbnb"
  ],
  "rules": {
    "react/prop-types": 0,
    "react/jsx-one-expression-per-line": 0,
    "object-curly-newline":"off",
    "quotes": ["error", "single", { "avoidEscape": true }],
    "indent": ["error", 2]
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "16.4.0"
    }
  }
}