.TableList {
  padding: 20px;

  @media (min-width: 992px) {
    padding: 20px 80px;
  }

  .head {
    padding: 0 10px;
  }

  .ant-spin-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .list-item {
    padding: 8px;

    .item-content {
      display: flex;
      flex-direction: column;
      height: 120px;
      padding: 8px 0;

      .host-photo {
        position: absolute;
        top: 15px;
        right: 15px;
        border: 2px solid #fff;
      }

      .event-type {
        .ant-tag {
          font-size: 10px;
          font-weight: 600;
        }
      }

      .price {
        font-weight: 400;
        font-size: 12px;
        font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
          'Helvetica Neue', sans-serif;
        margin-right: 5px;
      }

      .title {
        font-size: 18px;
        font-weight: bold;
        color: #000;
      }

      .sub-title {
        font-family: Spoqa Han Sans, sans-serif;
        font-size: 12px;
        font-weight: bold;
        color: #888;
      }

      .review {
        font-size: 10px;

        span {
          //color: #008489;
          color: rgb(24, 144, 255);
        }

        .ant-rate {
          font-size: 10px;
        }
        .ant-rate-star {
          margin-right: 0px;
          color: rgb(24, 144, 255);
        }
      }
    }
  }

  @media (min-width: 1500px) {
    .ant-col-xxl-4 {
      width: 20%;
    }
  }

  @media (min-width: 1650px) {
    .ant-col-xxl-4 {
      width: 16%;
    }
  }
}
