.HomeLayout {
  background-color: #fff;

  .header {
    border-bottom: 1px solid #d4dadf;
    box-shadow: 0 1px 1px 0 rgba(116, 129, 141, 0.1);
    a, .logo-title {
      color: #fff;
    }


    .nav {
      float: right;
      color: #fff;

      .item.dropdown {
        position: relative;
      }
  
      div {
        padding: 0 10px;
        min-width: 60px;
        text-align: center;
        cursor: pointer;
        
        &:last-child {
          margin-right: 0;
        }
        a {
          transition: 0s;
        }

        &:hover{
          a, span {
            transition: 0s;
            color: #222222;
          }
          background-color: #ffffff;
        }
      }
    }
  }
}

.host-menu {
  transition: 0s;
}